#description {
    background-color: rgba(0,0,0,0.009) !important;
		font-size: 12px;
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		text-align: center;
}

.well {
    background-color: rgba(0,0,0,0.009) !important;
		font-family: 'Lato', sans-serif;
		text-align: center;
}

#b
{
  margin: 0 auto;
  display: block;
}


.table {
	font-size: 11px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	cursor: default;
  margin: auto;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #F2F8FE;
}

	body {
		font-size: 11px;
		font-family: 'Lato', sans-serif;
		text-align: center;
		fill: #2B2B2B;
		cursor: default;
	}

	@media (min-width: 600px) {
		#chart{
			font-size: 16px;
		}
	}
	/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 550px;
  text-align: center}


/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {height: auto;}
}

/*chord*/

		line {
		  stroke: #000;
		  stroke-width: 1.px;
		}

		.hint {
		  position: absolute;
		  right: 0;
		  width: 350px;
		  font-size: 12px;
		  color: #999;
		}

		text {
		  font-size: 10px;
		}

		.titles{
		  font-size: 14px;
		}

		path.chord {
		  fill-opacity: .80;
		}
