#map,#hhvalidationmap {
    width: 100%;
    height: 500px;
}

.leaflet-top.leaflet-right {
    z-index: 400 !important;
}

.btn-info {
    background-color: #1C4E80 !important;
    border-color: #1C4E80 !important;
  }
  
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 200px;
}

.infoval {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 250px;
}

.info h6 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    width: 100px;
    height: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 17px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.btn-group .dropdown-menu a:active {
    background-color: '#006BA4'
}

.difflegend {
    width: 100px;
    height: 330px;
    line-height: 18px;
    color: #555;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 6px 8px;
}

.difflegend1 {
    width: 100px;
    height: 175px;
    line-height: 18px;
    color: #555;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 6px 8px;
}

.difflegend i {
    width: 18px;
    height: 17px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

i {
    width: 18px;
    height: 17px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#datatable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #datatable td, #datatable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #datatable tr:nth-child(even){background-color: #f2f2f2;}
  
  #datatable tr:hover {background-color: #ddd;}
  
  #datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }