This is a sample file
http://d3js.org/
http://www.personal.psu.edu/cab38/ColorBrewer/ColorBrewer.html
http://bl.ocks.org/AndrewRP/raw/7468330/
http://bl.ocks.org/AndrewRP/7468330
https://gist.github.com/mbostock/1046712
http://bl.ocks.org/mbostock/1046712
https://github.com/mbostock/d3/wiki/Gallery
http://bl.ocks.org/mbostock
http://bl.ocks.org/mbostock/4062006
https://github.com/mbostock/d3
https://github.com/mbostock?tab=repositories
http://bl.ocks.org/mbostock/1308257
https://github.com/mbostock/d3
https://github.com/mbostock/d3/wiki/API-Reference
https://github.com/mbostock/d3/wiki/Chord-Layout
https://github.com/d3
http://soundsuggest.wordpress.com/2012/12/26/d3-js-javascript-library-chord-diagram-example/
http://strongriley.github.io/d3/ex/chord.html
http://christopheviau.com/d3list/
http://gabrielflor.it/
http://dealloc.me/2011/06/24/d3-is-not-a-graphing-library.html
http://www.javainc.com/projects/dex/guide/palette/visualization/
http://macwright.org/
http://bost.ocks.org/mike/chart/
http://www.amazon.com/Grammar-Graphics-Statistics-Computing/dp/0387245448
http://www.jasondavies.com/
http://bost.ocks.org/mike/
http://alignedleft.com/tutorials/
http://macwright.org/enable-web-developer-extensions/#firefox
http://eloquentjavascript.net/
https://developer.mozilla.org/en-US/
